@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    --primary-color: #F0F3F6;
    --primary-color-dark: #3B4D61;
    --secondary-color: #00FFCE;
}
