@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// $primary-color: #f0f3f6;
// $primary-color-dark: #3b4d61;
// $secondary-color: #00ffce;

:root {
    --primary-color: #f0f3f6;
    --primary-color-dark: #3b4d61;
    --secondary-color: #00ffce;
  }
  [data-theme='dark'] {
    --primary-color: #3b4d61;
    --primary-color-dark: #f0f3f6;
    --secondary-color: #10a38b;
  }


* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    margin: 0;
    cursor: url('../img/tk.png'), pointer;
    // cursor: url('../img/tk.png'), hover;
}

.change-theme{
    position: fixed;
    top: 50px;
    right: 50px;
    color: var(--primary-color-dark);
    
    svg{
        height: 25px;
        width: 25px;
    }
}

.container {
    // width: calc(100vh - 20px * 2);
    // height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);


    h1,
    h2,
    p {
        color: var(--primary-color-dark);;
    }
}

.head {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 20px;

    img {
        border-radius: 100px;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        margin-top: 0px;
        font-weight: 300;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 1.2rem;
        // width: 50%;
        display: flex;
        justify-content: center;

        // img {
        //     width: 80%;
        //     background-color: var(--primary-color-dark);
        //     fill: #000;
        // }

        svg{
            fill: var(--primary-color-dark);
            width: 80%;
        }

        // &:hover{
        //     color: #00FFCE;
        // }
    }
}

.content {
    margin-top: 30px;
    h1 {
        text-align: center;
        font-size: 1.3rem;
    }
}

mark {
    // background-color: transparent;
    // padding: 2px 1px;
    // border-radius: 5px;
    // position: relative;
    // top: 3px;
    color: var(--primary-color-dark);;
    background: linear-gradient(
        transparent 70%,
        var(--secondary-color) 70%,
        var(--secondary-color) 93%,
        transparent 93%
    );
}
.link-group {
    margin-bottom: 25px;
}
.group-items {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap; // overflow-x: scroll; // overflow-y: hidden;
    // white-space: nowrap;
    // -webkit-overflow-scrolling: touch;
    // margin-bottom: 40px;
}
.link-item {
    position: relative;
    min-width: 270px;
    height: 160px;
    background: var(--primary-color-dark);;
    padding: 28px;
    margin: 20px;
    border-radius: 8px;
    text-decoration: none;
    h2,
    p {
        margin: 0;
        margin-bottom: 15px;
        color: var(--primary-color);;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    p {
        font-weight: 100;
        // font-size: 1.2rem;
    }

    img {
        position: absolute;
        right: 25px;
        bottom: 20px;
    }
}
@media (max-width: 700px) {
    // .container{
    // display: block;
    // }
    .group-items {
        flex-direction: column;
        justify-content: center;

        align-items: center;
        .link-item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            width: calc(100% - 15px*2);
            height: 100%;
            padding: 15px;
            margin: 15px 0px;
            h2 {
                width: 100%;
                margin: 0;
                padding-right: 15px;
                text-align: center;
            }
            p {
                display: none;
            }
            img {
                position: relative;
                right: 0;
                bottom: 0; // margin-right: 10px;
                padding: 5px;
            }
        }
    }
}
