@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// $primary-color: #f0f3f6;
// $primary-color-dark: #3b4d61;
// $secondary-color: #00ffce;

:root {
    --primary-color: #f0f3f6;
    --primary-color-dark: #3b4d61;
    --secondary-color: #00ffce;
  }
  [data-theme='dark'] {
    --primary-color: #3b4d61;
    --primary-color-dark: #f0f3f6;
    --secondary-color: #10a38b;
  }


* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    margin: 0;
    cursor: url('../img/tk.png'), pointer;
    height: 100vh;
}

a {
    cursor: url('../img/tk_hand.png'), pointer;
}

.change-theme{
    position: fixed;
    top: 50px;
    right: 50px;
    color: var(--primary-color-dark);
    
    svg{
        height: 25px;
        width: 25px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);


    h1, h2, p {
        color: var(--primary-color-dark);;
    }
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 20px;

    img {
        border-radius: 100px;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        margin-top: 0px;
        font-weight: 300;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 1.125rem;
        display: flex;
        justify-content: center;


        svg{
            fill: var(--primary-color-dark);
            width: 80%;
        }

    }
}

.content {
    margin-top: 30px;
    h1 {
        text-align: center;
        font-size: 1.3rem;
    }
}

mark {
    color: var(--primary-color-dark);;
    background: linear-gradient(
        transparent 70%,
        var(--secondary-color) 70%,
        var(--secondary-color) 93%,
        transparent 93%
    );
}
.link-group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.group-items {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap; 
}
.link-item {
    h2, p {
        color: var(--primary-color);
    }

}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .group-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;

        .link-item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            width: calc(100% - 15px*2);
            height: 100%;
            padding: 15px;
            margin: 15px 0px;
            h2 {
                width: 100%;
                margin: 0;
                padding-right: 15px;
                text-align: center;
            }
            p {
                display: none;
            }
            .icon {
                position: relative;
                right: 0;
                bottom: 0; // margin-right: 10px;
                padding: 5px;
            }
            .background {
                display: none;
            }
        }
    }
}
